/*
========================================
CSS Reset
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
========================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    color: white;
    font-family: 'Roboto', serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*
========================================
Main Flex Container
========================================
*/

/*
========================================
Navbar Container
========================================
*/
.navbar {
    display: flex;
    flex: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(32,32,32);
    width: 100wh;
    height: 56px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.navbar-logo {
    margin-left: 15px;
    display: flex;
}


.yt-logo {
    margin-left: 20px;
    width: 80px;
    height: 24px;
    
}

.yt-logotype {
    fill:rgb(255, 255, 255);
}

.search-container {
    display: flex;
    align-items: center;
}


.search-box {
    margin: 0 10px 0 10px;
    height: 32px;
    display: flex;
    flex: 2;
}


.search-box input[type=search] {
    width: 566px;
    background-color: rgba(0, 0, 0, 1);
    font-size: 16px;
    font-family: 'Roboto','Noto',sans-serif;
    border: 1px solid rgb(48, 48, 48);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-right: 0px;
    color: white;
}

.search-box input[type=search]:focus {
   outline: 1px solid #3ea6ff;
}

.search-box .btn:hover {
    color: #ffff;
 }
.search-box .btn {
    background: rgba(0, 0, 0, 0.1);
    font-size: 3px;
    color: rgb(152,152,152);
    width: 65px;
    height: 32px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-left: 0px;
    border: 1px solid rgb(48, 48, 48);
    cursor: pointer;
}


.navbar .navbar-icons {
    display: flex;
    gap: 15px;
}

/*
========================================
Page Contents
========================================
*/

.body {
    display: flex;
    background: rgba(0, 0, 0, 1);
    height: calc(100vh - 24px);
}

.body .video-and-comments{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 20px;
}

.body .recommended {
    display: flex;
    flex-direction: column;
}

.body h1 {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.body .title-and-views {
    margin-top: 10px;
}

.title-and-views p {
    font-size: 14px;
    line-height: 2em;
    color: rgb(170, 170, 173);
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(170, 170, 173);
}

.description p{
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1em;
}

.description button{
   float: right;
    background-color: rgb(204, 0, 0);
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 16px 10px 16px;
    border-radius: 2px;
    border: none;
    
}

.recommended {
    margin: 20px;
    color: white;
    gap: 10px;
}


.recommended-item {
    display: flex;
}

.rec-text {
    width: 202px;
    font-family: 'Roboto', serif;
    color: rgb(170, 170, 170);
    font-size: 14px;
    margin-left: 5px;
}

.rec-text .creator {
    margin-bottom: 5px;
    font-size: 13px;
}

.rec-text h3 {
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
}